body {
  -webkit-text-size-adjust: none;
  background: $white;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4em;
  padding: 3em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

section,
footer,
nav {
  display: block;
}

a {
  text-decoration: none;
  color: $cardBackground;
}

figure {
  margin: 0;
}

.error {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  flex-direction: column;
  margin: 200px auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
