.wrapper {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

// Tile Classes 
.tile {
  width: 400px;
  height: 500px;
  margin: 2em;
  position: relative;
  float: left;

  .front,
  .back {
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 400px;
    height: 500px;
    position: absolute;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  }

  p,
  a {
    padding: 0 20px;
    color: $textColor;
  }

  h3,
  .star {
    padding: 0 10px;
  }

  .front {
    background: $white;
    transition: all .5s ease-in-out;
    z-index: 2;

    img {
      height: 225px;
    }

    h3 {
      font-size: 1.5em;
      color: $white;
      text-shadow: 0 0 5px $shadow;
      margin-top: -4em;

    }

    .card-subtitle {
      font-size: 1.2em;
      color: $white;
      text-shadow: 0 0 5px $shadow;
      margin-bottom: 3em;
      margin-top: -0.8em;
    }

    .movie-genres {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      position: absolute;
      bottom: 15px;
      width: 100%;
      flex-wrap: wrap;

      div {
        padding: 5px 10px;
        background: $orange;
        border-radius: 20px;
        color: white;
        margin-bottom: 5px;
      }
    }
  }

  .card-rating {
    padding-left: 10px;
    color: $orange;
    font-weight: bold;
  }

  .back {
    background: $cardBackground;
    color: $white;
    z-index: 1;
    height: 500px;


    h3 {
      font-size: 1.5em;
      color: $white;
      margin-top: 1em;
      margin-bottom: 1em;
    }

    a {
      display: block;
      font-size: 1.2em;
      color: $white;
      border-top: 1px solid lighten($cardBackground, 5);
      margin: 0 20px;
      padding: .5em 0;
    }

    .star {
      position: relative;
      padding-top: 30px;
    }

    .star h4 {
      margin-bottom: 5px;
      padding: 0;
      font-size: 20px;
      color: $orange;
      margin-top: 10px;
    }

    .star ul {
      padding: 0;
      display: flex;
      justify-content: space-evenly;

    }

    .star ul li {
      list-style: none;
      width: 100px;
      height: 70px;
      background: $white;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 6px;
      border: 2px solid $white;
    }

    .star ul li img {
      width: 100%;
    }
  }

  &:hover {
    .front {
      top: -500px;
      transform: rotate(2deg);
    }
  }
}
