.movie_card {
  position: relative;
  display: block;
  z-index: 4;
  height: 600px;
  margin: 100px auto;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;

  &:hover {
    transform: scale(1.02);
    transition: all 0.4s;
  }

  .info_section {
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;

    h4 {
      color: $orange;
      font-weight: 400;
      margin-block-start: 0;
      margin-block-end: 15px;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }

    .movie_header {
      position: relative;
      padding: 25px;
      height: 20%;

      padding-bottom: 0;

      h1 {
        color: $white;
        font-weight: 400;
      }



      ul {
        list-style-type: disc;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0px;
        padding-inline-start: 0;
        padding: 0;
        display: flex;
        justify-content: space-evenly;

      }

      ul li {
        list-style: none;
        width: 70px;
        height: 70px;
        background: $white;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 6px;
        border: 2px solid $white;
      }

      ul li img {
        width: 100%;

      }

      .minutes {
        display: inline-block;
        margin-top: 10px;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.13);
      }

      .type {
        display: inline-block;
        color: #cee4fd;
        margin-left: 10px;
      }

      .locandina {
        position: relative;
        float: left;
        margin-right: 20px;
        height: 120px;
        box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
      }
    }

    .movie_desc {
      padding: 25px;
      height: 23%;

      p {
        color: #cfd6e1;
        font-size: 14px;
      }


    }

    .movie_social {
      height: 40%;
      padding-left: 15px;
      padding-bottom: 20px;

      width: 100%;



      .reviews {
        display: flex;
        flex-direction: row;
        font-size: 12px;
        width: 80%;

        .review {
          padding-right: 15px;
        }
      }

      ul {
        list-style: none;
        padding: 0 24px;
        ;

        li {
          display: inline-block;
          color: rgba(255, 255, 255, 0.4);
          transition: color 0.3s;
          transition-delay: 0.15s;
          margin: 0 30px;

          &:hover {
            transition: color 0.3s;
            color: rgba(255, 255, 255, 0.8);
          }

          i {
            font-size: 19px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .blur_back {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    right: 0;
    background-size: cover;
    border-radius: 11px;

    img {
      width: 100%;
      object-fit: cover;
      height: 600px;
    }
  }
}

.no-content {
  font-size: 14px;
  text-transform: none;
}

.imbd-review {

  color: $white;
  font-size: 14px;

}


@media screen and (min-width: 768px) {
  .movie_header {
    width: 60%;
  }

  .movie_desc {
    width: 100%;
  }



  .info_section {
    background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
  }

  .blur_back {
    width: 75%;
    background-position: -100% 10% !important;
  }
}

@media screen and (max-width: 1024px) {
  .movie_social {

    .reviews {
      width: 100% !important;
      overflow: hidden;
    }
  }
}

@media screen and (min-width: 1024px) {
  .movie_desc {
    width: 80%;
  }
}


@media screen and (max-width: 768px) {
  .movie_card {
    margin: 70px auto;
    min-height: 600px;
    height: auto;
  }

  .blur_back {
    width: 100%;
    background-position: 50% 50% !important;
  }

  .movie_header {
    width: 100%;
    margin-top: 85px;
  }

  .movie_desc {
    width: 100%;
  }

  .info_section {
    background: linear-gradient(to top, rgb(20, 20, 19) 50%, transparent 100%);
    display: inline-grid;
  }
}
