$light-gray: #eceef1;
$gray: darken(#eceef1, 30%);
$slate: transparent;

* {
  box-sizing: border-box;
}

.wrapper {
  margin: 5em auto;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
}

.header {
  padding: 30px 30px 0;
  text-align: center;

  &__title {
    margin: 0;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 500;
    line-height: 1.1;
  }

  &__subtitle {
    margin: 0;
    font-size: 1.5em;
    color: $gray;
    font-weight: 500;
    line-height: 1.1;
  }
}

//Grid Container
.cards {
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
}

//Cards
.card {
  margin: 15px;
  width: calc((100% / 3) - 30px);
  transition: all 0.2s ease-in-out;

  //media queries for stacking cards
  @media screen and (max-width: 991px) {
    width: calc((100% / 2) - 30px);
  }

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  &:hover {
    .card__inner {
      transform: scale(1.05);

    }
  }

  &__inner {
    width: 100%;
    position: relative;
    cursor: pointer;
    height: 540px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    color: $light-gray;
    font-size: 1.5em;
    text-transform: uppercase;

    transition: all 0.2s ease-in-out;

    img {
      width: 100%;
      height: 540px;
      object-fit: cover;
    }

    h3 {
      font-size: 24px;
      line-height: 24px;
      color: $white;
      text-shadow: 0 0 5px $shadow;
      margin-top: -8em;
      padding-left: 10px;
    }

    p {
      font-size: 14px;
      line-height: 16px;
      margin-top: -4em;
      text-transform: none;
      padding: 0 10px;
    }

    .card-subtitle {
      font-size: 1.2em;
      color: $white;
      text-shadow: 0 0 5px $shadow;
      margin-bottom: 3em;
      margin-top: -0.8em;
      padding: 0 10px;
      line-height: 1.2;
    }

    .card-rating {
      padding-left: 10px;
      color: $orange;
      font-weight: bold;
    }

    .movie-genres {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      position: absolute;
      bottom: 5px;
      width: 100%;
      flex-wrap: wrap;
      font-size: 12px;
      font-weight: bold;
      text-shadow: 0 0 5px $shadow;

      div {
        color: white;
        margin-bottom: 5px;
      }
    }

    &:after {
      transition: all 0.3s ease-in-out;
    }
  }

  //Expander
  &__expander {
    transition: all 0.5s ease-in-out;
    background-color: $slate;
    width: 100%;
    position: relative;
    height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    color: $light-gray;
    font-size: 1.5em;

    .fa {
      font-size: 0.75em;
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 5;
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  &.is-collapsed {

    .card__inner {
      &:after {
        content: "";
        opacity: 0;
      }
    }

    .card__expander {
      max-height: 0;
      min-height: 0;
      overflow: hidden;
      margin-top: 0;
      opacity: 0;
    }
  }

  &.is-expanded {

    .card__inner {

      &:after {
        content: "";
        opacity: 1;
        display: block;
        height: 0;
        width: 0;
        position: absolute;
        bottom: -30px;
        left: calc(50% - 15px);
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #333a45;
      }
    }

    .card__expander {
      max-height: 1000px;
      min-height: 200px;
      overflow: visible;
      margin-top: 30px;
      opacity: 1;
    }

    &:hover {
      .card__inner {
        transform: scale(1);
      }
    }
  }

  &.is-inactive {
    .card__inner {
      pointer-events: none;
      opacity: 0.5;
    }

    &:hover {
      .card__inner {
        background-color: $gray;
        transform: scale(1);
      }
    }
  }
}

//Expander Widths

//when 3 cards in a row
@media screen and (min-width: 992px) {

  .card:nth-of-type(3n+2) .card__expander {
    margin-left: calc(-100% - 30px);
  }

  .card:nth-of-type(3n+3) .card__expander {
    margin-left: calc(-200% - 60px);
  }

  .card:nth-of-type(3n+4) {
    clear: left;
  }

  .card__expander {
    width: calc(300% + 60px);
  }

}

//when 2 cards in a row
@media screen and (min-width: 768px) and (max-width: 991px) {

  .card:nth-of-type(2n+2) .card__expander {
    margin-left: calc(-100% - 30px);
  }

  .card:nth-of-type(2n+3) {
    clear: left;
  }

  .card__expander {
    width: calc(200% + 30px);
  }

}

@media screen and (max-width: 768px) {
  .card.is-expanded {
    .card__expander {
      margin-top: 140px;
      margin-bottom: 100px;
    }
  }

}
