@keyframes glowing {
  0% {
    text-shadow: 0 0 .1em, 0 0 .1em;
  }

  25% {
    text-shadow: 0 0 .1em, 0 0 .2em;
  }

  50% {
    text-shadow: 0 0 .2em, 0 0 .1em;
  }

  75% {
    text-shadow: 0 0 .2em, 0 0 .2em;
  }

  100% {
    text-shadow: 0 0 .1em, 0 0 .1em;
  }
}

@-webkit-keyframes glowing {

  0% {
    text-shadow: 0 0 .1em, 0 0 .1em;
  }

  25% {
    text-shadow: 0 0 .1em, 0 0 .2em;
  }

  50% {
    text-shadow: 0 0 .12em, 0 0 .1em;
  }

  75% {
    text-shadow: 0 0 .2em, 0 0 .2em;
  }

  100% {
    text-shadow: 0 0 .1em, 0 0 .1em;
  }
}

.searchHeader {
  font-size: 2em;
  color: $orange;
  animation: glowing 2s infinite;
}
