.page-header {
  width: 100%;
  width: 100%;
  position: fixed;
  background: $headerPurple;
  top: 0;
  z-index: 500;
  height: 64px;
  max-height: 64px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 20px;
}

.searchHeader {

  line-height: 64px;

}

.searchBarMain {
  background: $white;
  height: 42px;
  margin-top: 11px;

  border-radius: 2px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.14);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.searchBarMain i.searchBarSearchIcon {
  height: 100%;
  line-height: 42px;
  float: left;
  width: 52px;
  text-align: center;
  color: rgba(68, 68, 68, 0.5);
  font-size: 20px;
}

.searchBarMain input#searchBarInput {
  height: 42px;
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  background: transparent;
  width: calc(100% - 52px);
  outline: none;
  padding-right: 32px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.76);
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.searchBarMain i.clearSearchBarField {
  position: absolute;
  right: 12px;
  top: 11px;
  color: rgba(0, 0, 0, 0.84);
  display: none;
  font-size: 20px;
}

.searchBarMain i.clearSearchBarField:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #logo {
    display: none;
  }

}
