.container {
  width: 380px;
  height: 170px;
  overflow: hidden;
  position: relative;
}

#slideshow {
  overflow: hidden;
  margin: 0 auto;
}

.slide-wrapper {
  width: 2912px;
  -webkit-animation: slide 9s ease infinite;
}

.slide {
  float: left;
  width: 360px;
  height: 170px;
  padding: 10px;
  font-family: "Raleway";
}

.slide-number {
  color: $white;
  text-align: center;
  font-size: 14px;
  ;
}

@-webkit-keyframes slide {
  20% {
    margin-left: 0px;
  }

  30% {
    margin-left: 0px;
  }

  50% {
    margin-left: 0px;
  }

  60% {
    margin-left: -380px;
  }

  70% {
    margin-left: -380px;
  }

  80% {
    margin-left: -380px;
  }

  90% {
    margin-left: -380px;
  }
}
