/**
 * Grid styles
 */

.video-grid.front-page {
  max-width: 460px;
  // margin: 0 auto;
  padding: 0;
}

ul.video-list {
  display: flexbox;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

li.video {

  position: relative !important;
  overflow: hidden !important;
  width: 50% !important;
  border: solid 0.2em transparent !important;
  height: 90px !important;

  border-radius: 0 !important;
  background: transparent !important;

  & a {
    outline: none;
    font-size: 12px !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color .15s;
  }

  & figure {
    display: block;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    & img {
      display: block;
      max-width: 100%;
      height: auto;
      opacity: 0;
      transform: scale(0.5);
      transition: all .20s;
    }

    & figcaption {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.6);
      color: $white;
      font-size: 12px;
      font-weight: 600;
      padding-bottom: 5px;
      transform: translateY(0);
      opacity: 1;
      transition: all .20s;
    }
  }

  &:hover {
    & figure {
      & img {
        opacity: 1;
        transform: scale(1);
      }

      & figcaption {
        opacity: 0;
        transform: translateY(50%);
      }
    }
  }

  &:hover:before {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
